//import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import 'variables';

/* reset style*/
* {
    color: inherit;
    margin: 0;
}

body {
    font-family: Poppins;
}

h1 {
    a {
        color: red;
    }
}

h1 {
    color: $primary;
    margin-bottom: $base-margin;
}

a {
    color: $secondary;
}

button  {
    color: $textColor;
    border: 1px solid $btnColor;
    background: $primary;
    border-radius: $base-border-radius;
    padding: $base-padding;
}

.error {
    color: $error;
    border-color: $error;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}

.notification {
    color: $secondary;
    border-color: $secondary;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border: $base-border-thickness $base-border-style $btnColor;
    border-radius: $base-border-radius;
}